<div class="container">
  <div class="col-md-12 ">
        <h5>{{page_title}}</h5>
  </div>
    <div class="row bg-grand1">
      <div class="col-sm-2">

      </div>
</div>
<br>

<div class="col-md-12 text-center ">
        <h4> PASTELERIA "SAN FRANCISCO"</h4>
        <h6>Por el verdadero sabor de la alegria</h6>
</div>

<div>
  <div class="container">
        <div class="row main-row justify-content-center">
              <div class="col-md-4 mb-5">
                    <div class="card p-3" style="width: 14rem;">
                          <img src="/assets/imagen/Sucursal.jpg" alt="Pastel" class="card-img-top shadow bg-white rounded">
                          <div class="card-body ">
                                <p class="card-text">La Pasteleria San Francisco",S.A de C.V.
                                  abre sus puertas ofreciendo a sus clientes una variedad tradicional
                                  de pasteles.
                                </p>
                                <!--<button type="button" class="btn btn-outline-dark"></button>-->
                          </div>
                    </div>
              </div>
        </div>
  </div>
</div>