<nav class="navbar navbar-expand-lg navbar-dark  " style="background-color:#17458C;">
        <a class="navbar-brand" href="">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="menu">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/Inicio']">INICIO<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/Nosotros']"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Productos']">PRODUCTOS</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Sucursales']">SUCURSALES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Contacto']">CONTACTO</a>
              </li>
          </ul>
     </div>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item ">
                <a class="nav-link " [routerLink]="['/Login']">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Registro']">Registro</a>
            </li>
        </ul>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 justify-content-center" style="padding-left: 0px;  padding-right: 0px;">
            <img src="/assets/imagen/Logo-PSF.png" class="img-responsive">
        </div>
    </div>
</div>

<router-outlet></router-outlet>