<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <hr>
</div>

<div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/imagen/Pastel2.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Pastel de cochocolate</p>
            <p class="card-tex">$ 200.00</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-Primary btn-primary">Detales</button>
                <button type="button" class="btn btn-sm btn-outline-Primary btn-success">Agregar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/imagen/Pastel2.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Pastel de chocolate</p>
            <p class="card-tex">$ 250.00</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-Primary btn-primary">Detalles</button>
                <button type="button" class="btn btn-sm btn-outline-Primary btn-success">Agregar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/imagen/Pastel2.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Pastel de chocolate amargo </p>
            <p class="card-tex">$ 200.00</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-Primary btn-primary">Detalles</button>
                <button type="button" class="btn btn-sm btn-outline-Primary btn-success">Agregar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/imagen/Pastel3.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Pastel de 3 leches de chocolate</p>
            <p class="card-tex">$ 250.00</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-Primary btn-primary">Detalles</button>
                <button type="button" class="btn btn-sm btn-outline-Primary btn-success">Agregar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/imagen/Pastel3.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Pastel de moka envinado</p>
            <p class="card-tex">$ 300.00</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-Primary btn-primary">Detalles</button>
                <button type="button" class="btn btn-sm btn-outline-Primary btn-success">Agregar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="/assets/imagen/Pastel3.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Pastel de chocolate esponjose y jugoso</p>
            <p class="card-tex">$ 350.00</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-Primary btn-primary">Detalles</button>
                <button type="button" class="btn btn-sm btn-outline-Primary btn-success">Agregar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>