<div class="container ">
    <div class="col-md-12 text-center ">
          <h5>{{page_title}}</h5>
    </div>
      <div class="row bg-grand1">
        <div class="col-sm-2">
      </div>
</div>
<br>

<div>
      <div class="container">
            <div class="row main-row justify-content-center">
                  <div class="col-md-4 mb-5">
                        <div class="card p-3" style="width: 16rem;">
                              <img src="/assets/imagen/Sucursal.jpg" alt="Pastel" class="card-img-top shadow bg-white rounded">
                              <div class="card-body ">
                                    <h5 class="card-title">Sucursal Calkini</h5>
                                    <p class="card-text">Dirección</p>
                                    <button type="button" class="btn btn-outline-dark">Como Llegar</button>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-4 mb-5 ">
                        <div class="card p-3" style="width: 16rem;">
                              <img src="/assets/imagen/Sucursal.jpg" alt="Pastel" class="card-img-top shadow bg-white rounded">
                              <div class="card-body ">
                                    <h5 class="card-title">Sucursal Dzitbalche</h5>
                                    <p class="card-text"> Dirección</p>
                                    <button type="button" class="btn btn-outline-dark">Como Llegar</button>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>