<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <br>
</div>


<div class="container">

    <div class="signup-form-container">

        <div class="mb-3">
            <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
              placeholder="Nombre de Usuario">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="Contraseña">
          </div>
                        
            <br>

            <div class="form-footer">
                 <button type="submit" class="btn btn-dark">
                 <span class="glyphicon glyphicon-log-in"></span> Identificarse 
                 </button>
            </div>

        </div>

 </div>
    